* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1f2937;
  color: #fff;
}

input,
button {
  padding: 0.8rem 2rem;
  border-radius: 0.5rem;
  border: none;
}

input {
  margin: 2rem 1rem;
  text-align: center;
}

button {
  cursor: pointer;
}

h1,
h2 {
  font-size: 2rem;
  margin: 1rem;
}

li {
  list-style-type: none;
  margin: 0.5rem;
}

span {
  cursor: pointer;
  margin-right: 1rem;
}

.container {
  max-width: 900px;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
}
